body
{
    background-color: lightcoral;
    background-image: url(https://wallpapercave.com/wp/wp4714942.jpg);
    /*Gör så att min bakgrund blir bilden från länken eller färgen
     lightcoral ifall bilden inte kan laddas in*/
}

.container /*skapar en överliggande grid för att strukturera hemsidan*/
{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto 80% auto;
    grid-template-areas: 
      ". header"
      "nav main"
      "footer footer";
    gap: 4px;
    min-height: 90vh;
}
.nav_dif  /*Jag använder klassen för att skapa en grid innan för .container griden*/
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}
.nav_dif a /*Jag använder denna typselektor för att ändra designen på länkar och listor i nav*/
{
    text-decoration: none;
    color: ivory;
    font-size: 140%;
    border: 3px solid rgb(235, 235, 186);
    padding: 1px;
}
.Grid_dif /*Jag använder denna klass för att enkelt kunna lägga till en extra kolumn på sidan*/
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bold
{
    font-weight: bold;
}

header /* Ändrar utseendet på header*/
{
    grid-column: span 2;
    grid-row: 1;
    background-image: linear-gradient(to right, rgba(135, 207, 235, 1), rgba(135, 207, 235, 0.10));
}
nav
{
    background-image: url(https://i.imgur.com/qShtgt9.jpg);
    grid-column: 1;
    grid-row: 2;
}
main
{
    background-color: rgba(255, 250, 250, 0.1);
    grid-column: 2;
    grid-row: 2;
}
main a 
{
    color: rgb(0, 0, 0)
}
footer
{
    background-image: linear-gradient(to right, rgba(135, 207, 235, 1), rgba(135, 207, 235, 0.10));
    grid-column: span 2;
    grid-row: 3;
}
table, th, td
{
    border-collapse: collapse;
    height: 20px;
    border: 1px solid black;
}
th:first-of-type /*Gör så att första th är 220 pixlar lång i en ny tabell*/
{
    width: 220px;
}
tr:nth-child(odd) /*Gör så att varanan rad i tabellen har en annan färg*/
{
    background-image: linear-gradient(to right, rgba(135, 207, 235, 1), rgba(135, 207, 235, 0.3));
}
caption
{
    font-size: 120%;
}

/*Följande typslektorer förändrar utseendet på sina utvalda taggar*/
h1
{ 
    text-indent: 20px;
    text-decoration: underline;
    color:rgb(59, 58, 58);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
h2
{
    color: rgb(59, 58, 58);
    font-size: 180%;
    background-image: linear-gradient(to right, rgba(135, 207, 235, 1), rgba(135, 207, 235, 0.10));
}
h3
{
    color: rgb(59, 58, 58);
    background-image: linear-gradient(to right, rgba(135, 207, 235, 1), rgba(135, 207, 235, 0.10));
    font-size: 150%;
}
p
{
    text-indent: 0px;
    font-size: 120%;
}
dt
{
    text-indent: 20px;
    font-size: 120%;
    text-decoration: underline;
}
dd
{
    font-size: 110%;
}