body
{
    background-color: lightcoral;
    background-image: url(https://wallpapercave.com/wp/wp4714942.jpg);
    /*Gör så att mina bakgrund blir bilden från länken eller färgen
     lightcoral ifall bilden inte kunde laddas in*/
}

.container /*skapar en överliggande grid för att strukturera hemsidan*/
{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto 580px auto;
    grid-template-areas: 
      ". header"
      "nav main"
      "footer footer";
    gap: 4px;
}
.nested  /*Jag använder klassen för att skapa en grid innan för .container griden*/
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}
 .nested ul, a /*Jag använder denna gruppselektor för
             att ändra designen på länkar och listor i nav*/
{
    border: 3px solid rgb(235, 235, 186);
    padding: 1px;
    margin: 0px;
}
header
{
    grid-column: span 2;
    grid-row: 1;
    background-color: skyblue;
}
nav
{
    background-image: url(https://i.imgur.com/qShtgt9.jpg);
    grid-column: 1;
    grid-row: 2;
}
main
{
    grid-column: 2;
    grid-row: 2;
}
footer
{
    background-color: skyblue;
    grid-column: span 2;
    grid-row: 3;
}
h1
{ 
    color:rgb(59, 58, 58);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h2,h3
{
    color: rgb(59, 58, 58);
    font-size: 170%;
    background-color: skyblue;
}
p
{
    font-size: 120%;
}
a
{
    text-decoration: none;
    color: ivory;
    font-size: 140%;
}