.grid{
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    "nav"
    "main";
}
.nav{
    display: grid;
    max-width: 960px;
    
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.nav a{
    border: 2vh solid black;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 3vw;
}